<div fxLayout="column" fxFlex>

  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <span>PCF Cardinal Dashboard</span>
    </mat-toolbar-row>
  </mat-toolbar>

  <mat-sidenav-container fxFlex>
    <mat-sidenav mode="side" opened>
      <!--Sidenav-->
    </mat-sidenav>


    <div class="content">

      <h1>List of Defects </h1>
      <mat-accordion>
        <mat-expansion-panel *ngFor="let assignee of viewModelArray">
          <mat-expansion-panel-header>
            <mat-panel-title>
              <button mat-icon-button color="primary">{{viewModel[assignee].issueCount}}</button>
            </mat-panel-title>
            <mat-panel-description>
              {{assignee}}
            </mat-panel-description>
          </mat-expansion-panel-header>

          <mat-card *ngFor="let task of viewModel[assignee].issues" style="margin-bottom:15px">


            <mat-card-header>
              <!--<div mat-card-avatar class="example-header-image"></div>-->
              <mat-card-title>{{ task.key }}</mat-card-title>
              <mat-card-subtitle>{{ task.summary }}</mat-card-subtitle>
            </mat-card-header>
            <!--<img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">-->
            <mat-card-content>
              <p>
                {{ task.description }}
              </p>
            </mat-card-content>
            <mat-card-actions>
              <a mat-button target="_blank" href="https://capco-cardinal.atlassian.net/browse/{{task.key}}">Go</a>
              <!--<button mat-button>SHARE</button>-->
            </mat-card-actions>

          </mat-card>


        </mat-expansion-panel>
      </mat-accordion>


      <h1>List of Pull Requests</h1>

      <mat-accordion>
        <mat-expansion-panel *ngFor="let assignee of prViewModelArray">
          <mat-expansion-panel-header>
            <mat-panel-title>
              <button mat-icon-button color="primary">{{prViewModel[assignee].prCount}}</button>
            </mat-panel-title>
            <mat-panel-description>
              {{assignee}}
            </mat-panel-description>
          </mat-expansion-panel-header>

          <mat-card *ngFor="let pr of prViewModel[assignee].prList" style="margin-bottom:15px">


            <mat-card-header>
              <!--<div mat-card-avatar class="example-header-image"></div>-->
              <mat-card-title>{{ pr.title }}</mat-card-title>
              <!--<mat-card-subtitle>{{ task.summary }}</mat-card-subtitle>-->
            </mat-card-header>
            <!--<img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">-->
            <mat-card-content>
              <p>
                <!--{{ task.description }}-->
              </p>
            </mat-card-content>
            <mat-card-actions>
              <a mat-button target="_blank" href="https://bitbucket.org/capco-cardinal/cardinal-web-app/pull-requests/{{pr.id}}">Go</a>
            </mat-card-actions>
          </mat-card>


        </mat-expansion-panel>
      </mat-accordion>
    </div>

  </mat-sidenav-container>

</div>
<router-outlet></router-outlet>
